<div class="container mt-4">
  <div class="row">
    <h1>Crear Pizza</h1>
    <h5>Abstract Factory</h5>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          {{countrySelected}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let country of paises; let i = index">
            <button
              class="dropdown-item"
              type="button"
              (click)="getCountry(country, i)">
              {{country}}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          {{pizzaSelected}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let pizza of pizzas; let i = index">
            <button
              class="dropdown-item"
              type="button"
              (click)="getPizza(pizza, i)">
              {{pizza}}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <button
        class="btn btn-secondary"
        (click)="createPizza()">
        Ver Pizza
      </button>
    </div>

  </div><br>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Base: {{result.base}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ingredientes</h6>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let ingredient of result.ingredientes">
              {{ingredient}}
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
